*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url(../OIP4.jpg);
    padding: 40px 10px;
}

.container{
    position: relative;
    width: 470px;
    height: auto;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: #f9d29c;
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    padding: 10px 0px;
    background-color: #000;
    border-radius: 20px 20px 0px 0px;
}

.container form{
    padding: 20px;
}

.container form .names{
    display: flex;
    gap: 20px;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid #000;
        border-radius: 0px 20px ;
        padding: 0px 20px;
        font-size: 18px;
    }
    label{
        position: absolute;
        top: 35%;
        left: 25%;
        z-index: 10;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
}

.container form .input-bx{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0px;
}

.container form .contact{
    display: flex;
    gap: 20px;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid #000;
        border-radius: 0px 20px;
        padding: 0px 20px;
        font-size: 18px;

    }
    label{
        position: absolute;
        top: 35%;
        left: 25%;
        z-index: 10;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
}

.container form .gender_DOB{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        .dob {
            height: 200px;
            margin-bottom: 20px;
        }
    }
    
    .gender {
        label[for="gender"]{
            text-decoration: double  underline;
            font-weight: 900;
            font-size: 1.2em;
            text-align: center;
            display: block;
            background: linear-gradient(to bottom, #000, #3333);
            width: 100%;
            color: #fff;
            padding: 10px 0px;
        }
        border: 1px solid #000;
        border-radius: 0px 20px;
        overflow: hidden;
        &:hover{
            transition: all  ease;
            box-shadow: 0 0 10px #00000033;
            background: linear-gradient(to top, #0003, #fff3);
        }
        input{
            position: relative;
            width: 20px;
            height: 20px;
            transform: translateY(50%);
            cursor: pointer;
            margin-left: 20px;
        }
        .input-bx label{
            cursor: pointer;
            margin-left: 20px;
            position: absolute;
            top: 0;
            left: 10%;
            color: #444;
            transform: translateY(65%);
            font-weight: 600;
            font-size: 1em;
            &:hover{
                color: #000;
            }
        }
    }
    .dob{
        input{
            width: 100%;
            height: 65px;
            border: 1px solid #000;
            border-radius: 0px 20px;
            padding-left: 20px;
            transform: translateY(50%);
            font-size: 23px;
            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }
        label[for="dob"]{
            text-decoration: double  underline;
            font-weight: 900;
            font-size: 1.2em;
            text-align: center;
            display: block;
            background: linear-gradient(to bottom, #000, #3333);
            width: 100%;
            color: #fff;
            padding: 10px 0px;
        }
        border: 1px solid #000;
        border-radius: 0px 20px;
        overflow: hidden;
        &:hover{
            transition: all  ease;
            box-shadow: 0 0 10px #00000033;
            background: linear-gradient(to top, #0003, #fff3);
        }
    }    
}

.container form .password{
    display: flex;
    gap: 20px;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid #000;
        border-radius: 0px 20px;
        padding-left: 20px;
        font-size: 18px;
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
        
    }
    label{
        position: absolute;
        top: 30%;
        left: 10%;
        z-index: 10;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
}

input:hover {
    border: 1px solid #0000ff;
    background-color: #ff0fff33;
    transition: all 0.3s ease;
}
input:focus {
    background-color: #fff;
    transition: all 0.3s ease;
}

.container form .terms{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0px;
    overflow: hidden;
    height: 50px;
    label {
        cursor: pointer;
        font-weight: 600;
        font-size: 1em;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.container form .input-bx input[type="submit"]{
    background: #34ebcf99;
    color: #fff;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    transition: 0.5s;
    border-radius: 50px;

    &:hover{
        background-color: #426769;
    } 

    &:active{
        background: linear-gradient(60deg, #eb463488, #34ebcf88);
    }
    
}

.container .validation{
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
    height: 30px;
}

.container .account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fff;
    padding: 10px 0px;
    background-color: #0008;
    border-radius: 0px 0px 20px 20px;
}

/* to transform some inputs when on focus */

.tansform_label{
    position: absolute;
    top: 35%;
    left: 10%;
    z-index: 10;
    transform: translateY(-190%);
    font-weight: 700;
    scale: 0.7;
    background-color: #f9d29c;
    padding: 0px 10px;
    color: #0000ff;
    transition: all 0.5s ease;
    border-radius: 0px 0px 4px 4px;
}